@keyframes presenting {
  0% {
    box-shadow: 5rem 5rem 2rem rgba(0, 0, 0, 0.2);
  }

  25% {
    box-shadow: 5rem -5rem 2rem rgba(0, 0, 0, 0.2);
  }

  50% {
    box-shadow: 0 -5rem 2rem rgba(0, 0, 0, 0.2);
  }

  75% {
    box-shadow: -5rem 5rem 2rem rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 5rem 5rem 2rem rgba(0, 0, 0, 0.2);
  }
}
@keyframes flyInFromBottom {
  0% {
    transform: translate(0, 100vh);
  }

  75% {
    transform: translate(0, -2.5vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes flyInFromTop {
  0% {
    transform: translate(0, -100vh);
  }

  75% {
    transform: translate(0, 2.5vh);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes flyInFromRight {
  0% {
    transform: translate(100vw, -100vh);
  }

  75% {
    transform: translate(-0.5rem, 0.5rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
